pre.highlight {
    overflow-x: auto;
    padding-bottom: 50px;
}

.copy-btn {
    position: absolute;
    background-color: #eee;
    bottom: 10px;
    right: 10px;
    border-radius: 2px;
    padding: 4px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    transition: 300ms opacity;
}

div.highlight {
    position: relative;
}
